<footer class="text-white bg-dark py-4">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="text-white">
                <p class="font-weight-bold" routerLink="/test">About</p>
                <p>Program Available</p>
            </ul>
        </div>
        <div class="col-md-4">
        <ul class="text-white">
                <p class="font-weight-bold" routerLink="/test">About</p>
                <p>Program Available</p>
            </ul>
        </div>
        <div class="col-md-4">
       <ul class="text-white">
                <p class="font-weight-bold" routerLink="/test">About</p>
                <p>Program Available</p>
            </ul>
        </div>
    </div>
    </div>
</footer>