<div class="d-flex vh-100">
<div class="smallsidebar" (mouseenter)="mouseenterfunctionality()" (mouseleave)="mouseleavefunctionality()">
    <p-sidebar [(visible)]="sidebarVisible" showCloseIcon="false" closeOnEscape="false" [modal]="false" [dismissible]="false" [styleClass]="displaysidebar" [blockScroll]="false" [transitionOptions]="'100ms'">
        
        <div class="d-flex flex-column h-100">       
        <h3>Sidebar</h3>
        <p-panelMenu [model]="menuitem" [multiple]="true"/>
        </div>
    </p-sidebar>
</div>
<div class="flex-fill">
    <div class="mt-5">
        <router-outlet></router-outlet>
    </div>
</div>
</div>
<div class="mt-5">
    <app-footer></app-footer>
</div>