<div class="container">

    <div class="row">

        <div class="col-md-8 mx-auto border">

            <div class="row">
            <div class="col-md-12 my-5">
                <h1 class="text-center">Flutter Mobile Application</h1>
            </div>
            <div class="col-md-2">
                <img src="https://ih1.redbubble.net/image.1076687066.0716/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.u2.jpg" class="card-img-top">
            </div>
            <div class="col-md-10">
                <div class="text-dark">
                <p>Flutter is a UI toolkit developed by Google for building natively compiled applications for mobile, web, and desktop from a single codebase. It allows developers to create visually appealing and high-performance apps using the Dart programming language and a rich set of pre-designed widgets. Flutter is known for its fast development cycles, cross-platform capabilities, and ability to create beautiful, responsive user interfaces</p>
                </div>   
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="text-end mt-4 mb-4">
                <button pButton type="button" icon="pi pi-arrow-right" label="Navigate to Form" routerLink="" class="p-button-rounded btn btn-outline-primary btn-coral">
                </button>
                </div>
            </div>
        </div>
        </div>
    </div>

</div>