
<div class="container">
    <!-- <p class="text-center text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui suscipit nesciunt distinctio debitis labore? Nemo ducimus consequuntur nostrum et animi odit. Similique incidunt id nam alias accusantium eligendi ab at?</p> -->
<div class="row">
    <div class="col-md-9 mx-auto my-4">
        <div class="row">
            <div class="text-center">
                <img src="https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg?semt=ais_hybrid&w=740" class="he1">
                <p class="mt-3">Welcome to</p>
                <h2>My Test Website</h2>
            </div>
        </div>
    </div>
</div>

<div class="col-md-9 mx-auto mt-4">
<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://miro.medium.com/v2/resize:fit:1400/1*-mOO444aE0ysjnJofbxBkQ.png" alt="Card image cap">
        <div class="card-body p-4 text-center">
        <p class="card-text fs-6 fw-semibold">Flutter Mobile Application</p>
     </div>
    </div>
    </div>
     <div class="col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.sudshekhar.com/images/posts/react_cover_image.jpg" alt="Card image cap">
        <div class="card-body p-4 text-center">
        <p class="card-text fs-6 fw-semibold">React Web Application</p>
     </div>
    </div>
    </div>
     <div class="col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbhuDlP2if9EEDvYkdLZ7lNat8fbazuvKxPbgPPA4mKeguCS5VHtsricouyoYafHTvmts&usqp=CAU" alt="Card image cap">
        <div class="card-body p-4 text-center">
        <p class="card-text fs-6 fw-semibold">Java Web Application</p>
     </div>
    </div>
    </div>
</div>
</div>

</div>

<!-- <app-sidenavcomp></app-sidenavcomp> -->